@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.main {
  background-image: url("./assets/bg_vector.png");
  background-size: 100% 100%;
  min-height: 100vh;
  width: 100%;
}
.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.sidebar a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.slick-container img {
  object-fit: cover;
}
.new_arrival {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    76deg,
    rgba(9, 9, 121, 1) 15%,
    rgba(9, 17, 126, 1) 32%,
    rgba(1, 182, 235, 1) 94%,
    rgba(0, 212, 255, 1) 98%
  );
}
.slide-1 {
  background-image: url(./assets/main_bg1.jpg);
  background-size: cover;
}
.slide-2 {
  background-image: url(./assets/main_bg2.jpg);
  background-size: cover;
}
.slide-3 {
  background-image: url(./assets/main_bg3.jpg);
  background-size: cover;
}
#upload {
  display: none !important;
}
.submit:hover {
  background: rgb(251 191 36) !important;
  color: black !important;
  border: 0;
}
.book_cover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.admin_box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
